:root {
    --cream: #fafadd;
    --azure: #f0ffff;
    --gold: #ffb547;
    --charcoal: #1a1919;
}

body {
    background-color: var(--azure);
    color: rgb(29, 29, 29);
    }

    @font-face {
        font-family: 'montserrat';
        src: url(./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
    }

    @font-face {
        font-family: 'montserrat italic';
        src: url(./assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
    }

header {
    background-color: var(--charcoal);
    color: var(--azure);
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}

header img {
    border-style: none;
    position: absolute;
    scale: 26%;
    top: -7rem;
    left: -8rem;
}

h1 {
    font-size: 2em;
    padding-left: 14rem;
}

.nav-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 33rem;
    padding: 0;
    margin-top: 2rem;
    list-style-type: none;
}

.nav-card a {
    text-decoration: none;
}

.splash-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 2rem;
}

h3 {
    padding: 2rem 0 0 0;
}

