:root {
    --cream: #fafadd;
    --azure: #f0ffff;
    --gold: #ffb547;
    --charcoal: #1a1919;
    --spaceGrey: #202020;
    --bodyFont: "Montserrat", san-serif; 
    --titleFont: "basictitlefont", san-serif;
} 

body {
    font-family: var(--bodyFont);
    background-color: var(--spaceGrey);
    color: var(--azure);
    font-style: normal;
    font-weight: 100;
    }

header {
    background-color: var(--charcoal);
    color: var(--azure);
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

header img {
    border-style: none;
    position: absolute;
    scale: 16%;
    top: -8.6rem;
    left: -8rem;
}

h1 {
    margin: 1px 0 -9px 0;
    font-family: var(--titleFont);
    font-size: 2.75em;
    padding-left: 9rem;
    font-synthesis: none;
}

h1 span {
    padding-left: 1rem;
}

.nav-card {
    font-family: "Montserrat";
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 25rem;
    padding: 0;
    align-items: center;
    list-style-type: none;
    font-size: 90%;
}

.nav-card a {
    text-decoration: none;
}

.nav-card a:link {
    color: var(--azure);
}

.nav-card a:visited {
    color:  var(--azure);
}

.nav-card a:hover {
    color: var(--gold);
    font-weight: 500;
}

.splash-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1.5rem 3.57rem;
}

.splash-card img {
    max-height: 10rem;
}

h2 {
    font-family: "basictitlefont";
    font-weight: 300;
    color: var(--gold);
}

h3 {
    padding: 7.6rem 9rem 0 0;
    align-content: flex-end;
    margin-bottom: 3px;
    font-weight: 500;
    font-style: italic;
    color: var(--charcoal);
    font-size: .93rem;
    position: absolute;
    color: var(--gold);
}

h3 span {
    padding: 0 9px;
    font-style: normal;
    color: var(--azure);
}

.main-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 3rem;
}

#About {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#About p {
    max-width: 45rem;
    padding: 0 12rem 0 4rem;
}

#Work {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.work-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.work-card li {
    display: grid;
    max-width: 45rem;
    padding: 0 2.3rem 0 1rem;
    justify-items: stretch;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
}